html {
    height: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;

}



.parallax {
    background-image: url('Electrical-installation-915075-scaledd.jpg');

    min-height: 15vh;

    filter: blur(3px);
    -webkit-filter: blur(3px);


    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}





.container1 {

    width: 100%;
    max-height: 10%;
    margin: auto;


}

.container2 {

    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    width: 100%;

}



.grid1 {
    background: white;
    font: inherit;
    position: relative;
    padding: 5%;


    border-right: 3px solid #17a2b8;
    border-bottom: 3px solid #17a2b8;


}

.grid2 {
    background: white;
    font: inherit;
    position: relative;
}

.img1 {
    width: 100%;
    position: relative;
    margin: auto;
    height: 100%;
}

.grid4 {
    background: white;
    font: inherit;
    position: relative;
    padding: 5%;
    border-top: 3px solid #17a2b8;
    border-left: 3px solid #17a2b8;

}

.container3 {
    width: 100%;
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 2%;
    margin: auto;
    background-color: #17a2b8;
}




@media only screen and (max-width: 800px) {

    .container1,
    .container2,
    .container3,
    .container4,
    .grid1,
    .grid2 {
        width: 100%;
        /* The width is 100%, when the viewport is 800px or smaller */
    }
}

@media only screen and (max-device-width: 1000px) {
    .parallax {
        background-attachment: scroll;
    }
}