html {
    height: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}



.bg-image {
    /* The image used */
    background-image: url('Electrical-installation-915075-scaledd.jpg');


    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);

    /* Full height */
    height: 100%;
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.container1 {
    max-width: 80%;
    max-height: 10%;
    margin: auto;
    top: 10%;

}

.container2 {

    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5%;
    grid-row-gap: 0px;
    margin: 2% auto;

}

.grid1 {
    background: white;
    font: inherit;
    position: relative;
    padding: 10%;
    border-color: black;
    border: 4%;
}

.grid2 {
    background: white;
    font: inherit;
    position: relative;
    padding: 10%;

    border-color: black;
    border: 4%
}