{% extends 'users/base.html' %}
{% block contentbar %}

{% if user.is_authenticated %}
    <div class="alert alert-dark" role="alert">
        <h1>Profile settings</h1>
        <h3>User: {{ user.username }}</h3>
        <br><br><br>
        <a href="{% url 'home' %}" class="btn btn-outline-dark" >Cancel</a>
    </div>
{% else %}
    <div class="alert alert-dark" role="alert">
        <h3>Please, log in first!</h3>
        <a href="{% url 'register' %}" class="btn btn-outline-dark" >Signup</a>
        <br>
        <a href="{% url 'login' %}" class="btn btn-outline-dark">Login</a>
    </div>
{% endif %}
{% endblock %}